@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition;
  }
  .btn-secondary {
    @apply px-4 py-2 bg-pink-500 text-white rounded-lg hover:bg-pink-600 transition;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}